<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
    
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" /></configSections>
  <Exceptional applicationName="Professors">
    <IgnoreErrors>
      <!-- Error messages to ignore (optional) -->
      <!--<Regexes>
            <add name="connection suuuuuuuucks" pattern="Request timed out\.$" />
        </Regexes>-->
      <!-- Error types to ignore, e.g. <add type="System.Exception" /> or -->
      <!--<Types>
          <add type="MyNameSpace.MyException" />
        </Types>-->
    </IgnoreErrors>
    <!-- Error log store to use -->
    <!--<ErrorStore type="Memory" />-->
    <ErrorStore type="JSON" path="~\App_Data\Errors" size="500" rollupSeconds="300" />
    <!--<ErrorStore type="SQL" connectionString="Data Source=.;Initial Catalog=Exceptions;Uid=Exceptions;Pwd=iloveerrors" />-->
  </Exceptional>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <!--<add key="vs:EnableBrowserLink" value="false" />-->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ShowBy" value="true" />
    <!--<add key="MvcMailer.BaseURL" value="" />
    <add key="GoogleAnalyticsID" value="UA-49590121-1" />-->
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="IsActiveDemo" value="false" />
    <add key="SystemNameFa" value="سامانه جامع اساتید" />
    <add key="SystemNameEn" value="Universal Professors System" />
    <add key="SystemMottoFa" value="اولین و بهترین" />
    <add key="SystemMottoEn" value="First and Best" />
    <add key="Homepage" value="http://www.ajaums.ac.ir" />
    <add key="SystemRootUrl" value="http://faculty.ajaums.ac.ir" />
    <add key="UniversityNameFa" value="دانشگاه علوم پزشکی ارتش" />
    <add key="UniversityNameEn" value="Ajaums" />
    <add key="UniversityLogoPath" value="/content/admin/img/logo.png" />
    <add key="YearOfInstall" value="2017" />
    <add key="NewsTickerCount" value="5" />
    <add key="NewsPageSize" value="15" />
    <add key="NewsFeedSize" value="20" />
    <add key="EnableFacultyRegistration" value="true" />
    <add key="AdminEmail" value="" />
    <add key="AdminEmailForHome" value="" />
    <add key="ShowAdminEmailInDashboard" value="true" />
    <add key="ShowAdminEmailInHome" value="true" />
    <add key="RegisteredFacultyNeedActivationByAdmin" value="true" />
    <add key="SenderEmail" value="professors.system@gmail.com" />
    <add key="ApiSerial" value="8431579F5B5998D41623F37BE72BBD66" />
    <add key="AdminId" value="3" />
    <add key="IsDebug" value="false" />
    <add key="ShowCopyright" value="false" />
    <add key="ShowCaptcha" value="true" />
    <add key="ForgottenPasswordSteps" value="two" />
    <add key="EnableHIndex" value="true" />
    <add key="EnableArticleFetcher" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState mode="Off" />-->
    <authentication mode="Forms">
      <forms name=".professorssystem" cookieless="UseCookies" loginUrl="~/login" defaultUrl="~/" slidingExpiration="true" protection="All" path="/" timeout="43200" />
    </authentication>
    <roleManager defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="ContentManagementSystem.Commons.Web.CustomRoleProvider, ContentManagementSystem.Commons" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.6.1" />
    <!--CHECKLIST: add executionTimeout and maxRequestLength to httpRuntime-->
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" maxRequestLength="112640" executionTimeout="1000" />
    <customErrors mode="On">
      <error statusCode="500" redirect="error" />
      <error statusCode="403" redirect="error/forbidden" />
      <error statusCode="404" redirect="error/notfound" />
    </customErrors>
    <httpModules>
      <remove name="Session" />
      <!--<remove name="OutputCache"/>
      <remove name="Session"/>
      <remove name="WindowsAuthentication"/>
      <remove name="FormsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Profile"/>
      <remove name="ErrorHandlerModule"/>
      <remove name="ServiceModel"/>-->
      
    <add name="ImageResizingModule" type="ImageResizer.InterceptModule" /></httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <smtp deliveryMethod="Network" from="professors.system@gmail.com">
        <!--<specifiedPickupDirectory pickupDirectoryLocation="D:\" />-->
        <!--<network host="tornado.geniusguard.com" userName="no-reply@articlegate.ir" password="Kimoka110NoReply" port="25" enableSsl="true" />-->
        <network host="smtp.gmail.com" userName="professors.system@gmail.com" password="*d%=':s]]pA7m:DZ" port="587" enableSsl="true" />
        <!--<network host="smtp.yandex.com" userName="no-reply@articlegate.ir" password="Kimoka110@DevsNorepl" port="587" enableSsl="true" />-->
        <!--<network enableSsl="true" host="smtp.gmail.com" port="587" userName="sdasd@gmail.com" password="asdasd" />-->
      </smtp>
      <!-- Method#2: Dump emails to a local directory -->
      <!--<smtp from="info@goarticle.ir" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <connectionStrings>
    <clear />
    <add name="ContentManagementSystem.DataLayer.Context.ApplicationDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=ProfessorsDB;Integrated Security= true" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <!--<interceptors>
      <interceptor type="DNTProfiler.EntityFramework.Core.DatabaseLogger, DNTProfiler.EntityFramework.Core">
        <parameters>
          <parameter value="http://localhost:8080" />
          <parameter value="|DataDirectory|\ErrorsLog.Log" />
        </parameters>
      </interceptor>
    </interceptors>-->
  </entityFramework>
  <system.webServer>
    <handlers>
      
      
      
      
      <add name="Exceptional" path="logdkhjfD3jfstFsgdasd9dpQD0t205j8ENV9L3nI.axd" verb="POST,GET,HEAD" type="StackExchange.Exceptional.HandlerFactory, StackExchange.Exceptional" preCondition="integratedMode" />
      <!--<add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode" />-->
      <!--<add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />-->
      <!--<add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />-->
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
      <add name="ErrorStore" type="StackExchange.Exceptional.ExceptionalModule, StackExchange.Exceptional" />
      
      <remove name="StackifyHttpModule_Net40" />
      <add name="StackifyHttpModule_Net40" type="StackifyHttpTracer.StackifyHttpModule,StackifyHttpTracer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93c44ce23f2048dd" preCondition="managedHandler,runtimeVersionv4.0" />
    <add name="ImageResizingModule" type="ImageResizer.InterceptModule" /></modules>
    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2050 00:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>