
@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = MVC.Dashboard.Shared.Views._ProfessorMasterLayout;
}

<div id="page_content">
    <div id="page_content_inner">
        @*<div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium" data-uk-grid-margin>
            <div style="width: 100%;">
                <div class="md-card">
                    <div class="md-card-content">
                        <ul class="md-list md-list-addon md-list-right">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-primary">notifications</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">توجه</span>
                                    <span class="uk-text-medium uk-text-muted">طول رمز عبور می بایست حداقل 8 کاراکتر باشد.</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-primary">notifications</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">توجه</span>
                                    <span class="uk-text-medium uk-text-muted">برای جلوگیری از حدس زدن رمز عبورتان توسط دیگران از یک رمز عبور قوی شامل حروف، اعداد و نشانه ها مثل ! یا @@ یا # یا $ یا % یا ] یا [ استفاده نمائید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="uk-grid">
            <div class="uk-width-1-1">
                @using (Html.BeginForm(MVC.Dashboard.Home.ChangePassword(), FormMethod.Post, new { @class = "dovalidate ajaxsubmit", role = "form", id = "changepasswordform", name = "changepasswordform", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a">تغییر رمز عبور</h3>
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <div class="md-input-wrapper">
                                                    <label>رمز عبور فعلی</label>
                                                    <input type="password" class="md-input" id="previouspassword" data-parsley-remote-options='{ "type": "POST" }'
                                                           data-parsley-remote="@Url.Action(MVC.Dashboard.Home.CheckPassword())" data-parsley-remote-message="رمز عبور فعلی صحیح نمی باشد" data-parsley-minlength="8" data-parsley-required="true" name="previouspassword" />
                                                    <span class="md-input-bar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <div class="md-input-wrapper">
                                                    <label>رمز عبور جدید</label>
                                                    <input type="password" id="newpassword" data-parsley-remote-message="رمز عبور وارد شده را به راحتی می‌توان حدس زد!" data-parsley-remote-options='{ "type": "POST" }' data-parsley-remote="@Url.Action(MVC.Dashboard.Home.SafePassword())" data-parsley-minlength="8" data-parsley-required="true" name="newpassword" class="md-input" />
                                                    <a href="" class="uk-form-password-toggle blue" data-uk-form-password="{lblShow:'نمایش', lblHide:'مخفی کردن'}">نمایش</a>
                                                    <span class="md-input-bar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <div class="md-input-wrapper">
                                                    <label>تکرار رمز عبور جدید</label>
                                                    <input type="password" id="confirmnewpassword" data-parsley-equalto="#newpassword" data-parsley-minlength="8" data-parsley-required="true" name="confirmnewpassword" class="md-input" />
                                                    <span class="md-input-bar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="uk-margin-medium-top">
                                <input type="submit" class="md-btn md-btn-primary fs-15" value="ذخیره" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>